@import "tailwindcss";


input::-webkit-calendar-picker-indicator {
	display: none !important;
}

/* Disable browser autofill/autocomplete globally for all input fields */

input,
textarea,
select {
	box-shadow: 0 0 0px 1000px white inset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
	box-shadow: 0 0 0 1000px white inset !important;
	-webkit-text-fill-color: #000 !important;
}

/* Disable browser autofill/autocomplete globally for all input fields */

input,
textarea,
select {
	box-shadow: 0 0 0px 1000px white inset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
	box-shadow: 0 0 0 1000px white inset !important;
	-webkit-text-fill-color: #000 !important;
}