@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fff;
  --text-color: #000;
}

.dark {
  --background: #1a202c;
  --text-color: #fff;
}

body {
  background-color: var(--background);
  color: var(--text-color);
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

/* Disable browser autofill/autocomplete globally for all input fields */

input,
textarea,
select {
  box-shadow: 0 0 0px 1000px var(--background) inset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
  box-shadow: 0 0 0 1000px var(--background) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}